<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Routes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Routes</h2>
    <!-- <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>-->
    <table class="table">
        <thead>
        <tr>
            <th>RouteID</th>
            <th>Start</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>
            <th>Avaliable Seats</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="route:${routes}">
            <td th:text="${route.id}"></td>
            <td th:text="${route.start}"></td>
            <td th:text="${route.destination}"></td>
            <td th:text="${route.date}"></td>
            <td th:text="${route.time}"></td>
            <td th:text="${route.avaliableSeats}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>